#Ignore to large files
CogNotes/First Semeter/IntoCog/PDF's and Documents/Cognitive Psychology (2nd edition) Goldstein, B., & van Hoof, J.C. (2021).pdf
CogNotes/First Semeter/IntoCog/PDF's and Documents/Cognitive Psychology (2nd edition) Goldstein, B., & van Hoof, J.C. (2021).zip
CogNotes/Working Directories/Animal word association/.RDataTmp
CogNotes/Working Directories/Animal word association/EN_100k.rda
CogNotes/Working Directories/Aphasia Exercise/.RData
CogNotes/Working Directories/Portifolio/Portfolio 3/EN_100k.rda
/CogNotes/.obsidian/plugins/obsidian-git/data.json
